APP_NAME=SimgosAppData
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=UTC #sesuaikan dengan lokasi anda Asia/Jakarta atau Asia/Makassar atau lainnya
APP_URL=http://localhost:8080
HOSPITAL_NAME='RSUD H. Abdul Manap Kota Jambi' #sesuaikan dengan nama organisasi pengguna
TTIDUR=246 #sesuaikan dengan jumlah tempat tidur yang ditetapkan pimpinan organisasi atau yang digunakan untuk perhitungan bor tahun ini (246 = untuk RS Dunda)
TTIDURLALU=246 #sesuaikan dengan jumlah tempat tidur yang ditetapkan pimpinan organisasi atau yang digunakan untuk perhitungan bor tahun sebelumnya (246 = untuk RS Dunda)
IDLAB=10219 #sesuaikan dengan ID Laboratorium jenis 3 pada master ruangan
IDRAD=10220 #sesuaikan dengan ID Radiologi jenis 3 pada master ruangan

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
APP_MAINTENANCE_STORE=database

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

#menggunakan multple database

#database usersimgos dapat di tempatkan di server yang berbeda dengan simgos
DB_CONNECTION=mysql
DB_HOST=db #ip server database usersimgos
DB_PORT=3306
DB_DATABASE=usersimgos #database usersimgos, untuk simpan user akses ke aplikasi
DB_USERNAME=root #user untuk remote server database usersimgos
DB_PASSWORD=rootpassword #password untuk remote server database usersimgos

DB_CONNECTION_MASTER=mysql2
DB_HOST_MASTER=db #sesuaikan dengan ip server database usersimgos
DB_PORT_MASTER=3306
DB_DATABASE_MASTER=master 
DB_USERNAME_MASTER=root #sesuaikan dengan user remote database usersimgos
DB_PASSWORD_MASTER=rootpassword #sesuaikan dengan password remote database usersimgos

DB_CONNECTION_INVENTORY=mysql3
DB_HOST_INVENTORY=db
DB_PORT_INVENTORY=3306
DB_DATABASE_INVENTORY=inventory
DB_USERNAME_INVENTORY=root
DB_PASSWORD_INVENTORY=rootpassword

DB_CONNECTION_KEMKES=mysql4
DB_HOST_KEMKES=db
DB_PORT_KEMKES=3306
DB_DATABASE_KEMKES=kemkes-ihs
DB_USERNAME_KEMKES=root
DB_PASSWORD_KEMKES=rootpassword

DB_CONNECTION_PENDAFTARAN=mysql5
DB_HOST_PENDAFTARAN=db
DB_PORT_PENDAFTARAN=3306
DB_DATABASE_PENDAFTARAN=pendaftaran
DB_USERNAME_PENDAFTARAN=root
DB_PASSWORD_PENDAFTARAN=rootpassword

DB_CONNECTION_BPJS=mysql6
DB_HOST_BPJS=db
DB_PORT_BPJS=3306
DB_DATABASE_BPJS=bpjs
DB_USERNAME_BPJS=root
DB_PASSWORD_BPJS=rootpassword

DB_CONNECTION_LAYANAN=mysql7
DB_HOST_LAYANAN=db
DB_PORT_LAYANAN=3306
DB_DATABASE_LAYANAN=layanan
DB_USERNAME_LAYANAN=root
DB_PASSWORD_LAYANAN=rootpassword

DB_CONNECTION_LOGS=mysql8
DB_HOST_LOGS=db
DB_PORT_LOGS=3306
DB_DATABASE_LOGS=logs
DB_USERNAME_LOGS=root
DB_PASSWORD_LOGS=rootpassword

DB_CONNECTION_APLIKASI=mysql9
DB_HOST_APLIKASI=db
DB_PORT_APLIKASI=3306
DB_DATABASE_APLIKASI=aplikasi
DB_USERNAME_APLIKASI=root
DB_PASSWORD_APLIKASI=rootpassword

DB_CONNECTION_LAPORAN=mysql10
DB_HOST_LAPORAN=db
DB_PORT_LAPORAN=3306
DB_DATABASE_LAPORAN=laporan
DB_USERNAME_LAPORAN=root
DB_PASSWORD_LAPORAN=rootpassword

DB_CONNECTION_MEDICALRECORD=mysql11
DB_HOST_MEDICALRECORD=db
DB_PORT_MEDICALRECORD=3306
DB_DATABASE_MEDICALRECORD=medicalrecord
DB_USERNAME_MEDICALRECORD=root
DB_PASSWORD_MEDICALRECORD=rootpassword

DB_CONNECTION_INFORMASI=mysql12
DB_HOST_INFORMASI=db
DB_PORT_INFORMASI=3306
DB_DATABASE_INFORMASI=informasi
DB_USERNAME_INFORMASI=root
DB_PASSWORD_INFORMASI=rootpassword

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"
